
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kopia</title>
</head>
<body>
    <p>
        Fangatahana nataon'i {{ request.requester }} ny {{ request.request_date }} izay monina ao {{ request.requester.birthplace.name  }} ary teraka tamin'ny {{ request.requester.birthdate }}
    </p>
    <p>
        Ity Fangatahana ity dia mila dika miisa : {{ request.dup_number }}
    </p>
    <p>
        Firaisana : {{ request.office }}
    </p>
    <p>
        Sonia : 
    </p>
</body>
</html>